body{
    background-color: #e0d1d1;
}

img{
    max-width: 70%;
    padding: 40px 0px 40px 0px;
}

.news-item{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.btn{
    width: 10%;
    height: 10%;
    margin: 0px 0px 20px 20px;
    border-radius: 50px;
    font-size: 1.2vw;
}

a{
    text-decoration: none;
}

a:hover{
    color: black;
}