* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
}

#line{
    background-color: yellow;
    width: 40%;
    height: 10px;
}

#button{
    background-color: yellow;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#button a{
    text-decoration: none;
    color: black;
}

#image{
    width: 20vw;
    min-width: 100px;
}